*, ::before, ::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
:root {
  font-family: 'Miriam Libre', serif;
  font-size: 8px;
  --green: #33e854; /* rgb(51, 232, 84) */
}

/* Layout */
/* Mobile - default */
body {
  width: 100%;
  /* min-height: 100vh; */
  /* background-color: blue; */
}
main {
  border: 4px solid black;
  max-width: 460px;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  /* padding: 0 15px; */
}
section {
  /* border: 1px solid black; */
  padding: 20px 10px;
}

img {
  max-width: 100%;
  height: auto;
}

/* Header */
header {
  margin-left: 15px;
}
h1 {
  font-size: 3rem;
  padding: 10px 0 5px;
}
.header-border {
  /* width: 100%; */
  height: 5px;
  background-color: pink;
}
.deco1 {
  background-color: black;
  margin-left: 70px;
  height: 8px;
  position: relative;
  z-index: 1;
}
.deco2 {
  background-color: rgba(51, 232, 84, .6);
  margin-left: 20px;
  margin-top: -2px;
}

/* Card Trays */
.card-tray {
  display: flex;
  align-items: center;
  min-height: 250px;
}
h2 {
  writing-mode: vertical-lr;
  font-size: 2.5rem;
}
#dealer,
.hand-inner {
/* #hand { */
  display: flex;
  width: 100%;
  /* flex-wrap: wrap; */
  margin-left: 10px;
  overflow: auto hidden;
}
#hand {
  display: grid;
  width: 100%;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(5, 1fr);
  overflow-x: hidden;
}
.hand-top {
  grid-column: 1/-1;
}
.hand-top.active {
  grid-column: 1/span 4;
}
.hand-top.inactive {
  grid-column: 1/span 1;
}
.hand-btm.active {
  grid-column: 2/-1;
}
.hand-btm.inactive {
  grid-column: 5/-1;
}
.hand-inner.inactive {
  overflow-x: hidden;
}
.hand-inner.inactive * {
  opacity: 0.8;
}
.hand-inner.inactive .card {
  border-color: #00000070;
}

/* Score Section */
#totals-divider {
  background-color: var(--green);
  height: 4px;
  margin: 10px 0;
}
.totals {
  font-size: 1.4rem;
}
.player-total {
  display: flex;
  justify-content: space-between;
}

/* Controls */
#controls {
  padding: 0;
  background-color: var(--green);
  position: absolute;
  bottom: 0;
  width: 100%;
  box-shadow: 0px -3px 4px #b1b1b1;
}
#controls > div {
  padding-left: 15px;
  padding-right: 15px;
}
.controls-white {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
}
.funds {
  font-weight: bold;
}
.controls-green {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-around;
}
.control-btn {
  text-align: center;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
  border-radius: 4px;
  /* background-color: white; */
  width: 65px;
  padding: 4px 0;
  cursor: pointer;
  transition: all .4s;
}
.control-btn:hover, .control-btn:focus{
  background-color: #ffffff60;
}
.control-btn.disabled{
  cursor: default;
}
.control-btn.disabled:hover, .control-btn.disabled:focus{
  background-color: var(--green);
}
#controls .new-game-btn {
  font-size: 1.4rem;
  font-family: 'Miriam Libre', serif;
  text-transform: uppercase;
  width: 60px;
  padding: 10px 6px;
  border: 2px solid black;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  transition: all 0.4s;
}
#controls .new-game-btn:hover, #controls .new-game-btn:focus {
  background-color: var(--green);
}

/* Modals */
.modal {
  position: absolute;
  display: none;
  background-color: var(--green);
  border: 2px solid black;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  max-width: 420px;
}
.modal-header {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}
.wagers {
  display: flex;
  justify-content: space-around;
}
.wager-btn {
  border: 2px solid black;
  border-radius: 4px;
  background-color: white;
  height: 40px;
  width: 60px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
  cursor: pointer;
}
.confirm-msg {
  font-size: 1.6rem;
  padding-bottom: 6px;
}
.confirm-btns {
  display: flex;
  justify-content: space-around;
}
.confirm-btn, .result-btn {
  border: 2px solid black;
  border-radius: 4px;
  background-color: white;
  height: 40px;
  font-size: 1.6rem;
  font-weight: bold;
  transition: all 0.4s;
  cursor: pointer;
}
.confirm-btn {
  width: 75px;
}
.wager-btn.disabled {
  cursor: default;
  background-color: rgb(80, 80, 80);
}
#result-msg {
  font-size: 1.6em;
  margin-bottom: 15px;
  text-align: center;
}
.result-btns {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.result-btn {
  min-width: 90px;
  padding: 0 7px;
}
.result-btn.new-game-btn {
  background-color: #fbfb1f;
}
.wager-btn:hover, .wager-btn:focus,
.confirm-btn:hover, .confirm-btn:focus,
.result-btn:hover:enabled, .result-btn:focus:enabled {
  background-color: #ffffff60;
}
.result-btn.new-game-btn:hover:enabled, .result-btn.new-game-btn:focus:enabled {
  background-color: #fbfb1f85;
}

/* Cards */
.card:not(:first-child) {
  margin-left: -10em;
}

.card {
  border: 2px solid black;
  /* border-radius: .49em; */
  border-radius: .85em;
  /* width: 16.875em;
  height: 25.625em; */
  max-width: 16.875em;
  aspect-ratio: 16.875 / 25.625;
  position: relative;
  background: white;
  flex-shrink: 0;
  margin-top: 4px;
}
.card.hole {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  perspective: 200px;
  -webkit-perspective: 200px;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
.card.hole.show {
  transform: rotateY(360deg);
  -webkit-transform: rotateY(360deg);
  /* ! Change to keyframes animation */
}

.hole > * {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.card-back {
  position: absolute;
  top: 0;
  left: -1px;
  right: -1px;
  bottom: 0;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.identifier {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  padding: .5em 1em;
}
.key {
  font-size: 3em;
}
[data-suite="spade"],
[data-suite="club"] {
  color: black;
}
[data-suite="heart"],
[data-suite="diamond"] {
  color: #e61515;
}
.identifier .type {
  max-height: 4em;
  width: auto;
}
.hidden {
  display: none;
}

.identifier.bottom {
  bottom: 0;
  transform: rotate(180deg);
}

.identifier.center {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: .4em;
  align-items: center;
  padding: 3.75em;
  height: 100%;
  position: relative;
}
[data-card="A"] .identifier.center, 
[data-card="J"] .identifier.center, 
[data-card="Q"] .identifier.center, 
[data-card="K"] .identifier.center {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.pip {
  grid-row: span 2;
}
.pip img {
  vertical-align: middle;
}

/* Pip - top left */
:not([data-card="A"], [data-card="J"], [data-card="Q"], [data-card="K"]) .pip:first-child {
  grid-column-start: 1;
}
/* Pip - top right */
:not([data-card="2"], [data-card="3"], [data-card="A"], [data-card="J"], [data-card="Q"], [data-card="K"]) .pip:nth-child(4) {
  grid-column-start: 3;
}
/* Pip - 2nd row left */
[data-card="10"] .pip:nth-child(3),
[data-card="9"] .pip:nth-child(3) {
  grid-column-start: 1;
  grid-row: 3/span 2;
}
/* Pip - 2nd row right */
[data-card="10"] .pip:nth-child(6),
[data-card="9"] .pip:nth-child(6) {
  grid-column-start: 3;
  grid-row: 3/span 2;
}
/* Pip - 3rd row left */
[data-card="10"] .pip:nth-child(7),
[data-card="9"] .pip:nth-child(7)  {
  grid-column-start: 1;
  grid-row: 5/span 2;
  transform: rotate(180deg);
}
/* Pip - 3rd row right */
[data-card="10"] .pip:nth-child(8),
[data-card="9"] .pip:nth-child(8)  {
  grid-column-start: 3;
  grid-row: 5/span 2;
  transform: rotate(180deg);
}
/* Pip - bottom row left */
:not([data-card="2"], [data-card="3"], [data-card="A"], [data-card="J"], [data-card="Q"], [data-card="K"]) .pip:nth-child(5),
[data-card="4"] .pip:nth-child(3) {
  grid-column-start: 1;
  grid-row: 7/span 2;
  transform: rotate(180deg);
}
/* Pip - bottom row right */
:not([data-card="A"], [data-card="J"], [data-card="Q"], [data-card="K"]) .pip:nth-child(2) {
  grid-column-start: 3;
  grid-row: 7/span 2;
  transform: rotate(180deg);
}
/* Pip - mid column top */
[data-card="10"] .pip:nth-child(9),
[data-card="9"] .pip:nth-child(9) {
  grid-column-start: 2;
  grid-row: 2/span 2;
}
/* Pip - mid column bottom */
:not([data-card="A"], [data-card="J"], [data-card="Q"], [data-card="K"]) .pip:nth-child(10) {
  grid-column-start: 2;
  grid-row: 6/span 2;
  transform: rotate(180deg);
}
/* Pip - mid mid */
[data-card="3"] .pip:nth-child(3),
[data-card="5"] .pip:nth-child(3) {
  grid-row: 4/span 2;
  grid-column-start: 2; 
}
/* Pip - true mid left */
[data-card="6"] .pip:nth-child(3), 
[data-card="7"] .pip:nth-child(3), 
[data-card="8"] .pip:nth-child(3) {
  grid-column-start: 1;
  grid-row: 4/span 2;
}
/* Pip - true mid right */
[data-card="6"] .pip:nth-child(6), 
[data-card="7"] .pip:nth-child(6), 
[data-card="8"] .pip:nth-child(6) {
  grid-column-start: 3;
  grid-row: 4/span 2;
}
/* Pip - 3 row total, mid top */
[data-card="7"] .pip:nth-child(7), 
[data-card="8"] .pip:nth-child(7) {
  grid-row: 2/span 3;
}
/* Pip - 3 row total, mid bottom */ 
[data-card="8"] .pip:nth-child(8) {
  grid-row: 5/span 3;
  transform: rotate(180deg);
}